@page "/personalprofile"
@attribute [Authorize(Roles = "Patient")]


<section class="bg-light">
<div class="container pt-5 mb-5">
    <div class="row">
        <div class="col-md-3 min-vh-100">
            <ProfileNavMenu></ProfileNavMenu>
        </div>
        <div class="col-md-9">
               <div class="row mb-4">
                   <div class="col-lg-12">
                        <div class="card text-dark  border-0 shadow-sm">

                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h4>

                                            <i class="h1 bi bi-person-circle"></i>   @entDetails.FirstName @entDetails.LastName

                                        </h4>
                                    </div>
                                    <div>
                                        <a href="demographic"><i class="h4 bi bi-pencil-square"></i></a>
                                    </div>
                                </div>
                                <table>

                                    <tr>
                                        <td>Id</td>
                                        <td>
                                            @entDetails.UserId
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Gender</td>
                                        <td>@entDetails.Gender</td>
                                    </tr>
                                    <tr>
                                        <td>Race</td>
                                        <td>@entDetails.Race</td>
                                    </tr>
                                    <tr>
                                        <td>Ethnicity</td>
                                        <td>@entDetails.Ethnicity</td>
                                    </tr>
                                    <tr>
                                        <td>Neck Size</td>
                                        <td>@entDetails.NeckSize</td>
                                    </tr>
                                    <tr>
                                        <td>BMI</td>
                                        <td>@entDetails.BMI</td>
                                    </tr>
                                </table>

                            
                            </div>
                        </div>
                   </div>

               </div>

                <div class="row mb-4">
                    <div class="col-lg-12">
                        <div class="card text-dark  border-0 shadow-sm">

                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div class="mb-5">
                                        <h4>

                                            Past History

                                        </h4>
                                    </div>
                                    <div>
                                        <a href="pasthistories" ><i class="h4 bi bi-pencil-square"></i></a>
                                    </div>
                                </div>
                              

                              <table class="table table-bordered">
                               
                                <tr>
                                <td>Medical Condition</td>
                                <td class="text-primary">@entDetails.MedicalCondition</td>
                                </tr>
                                <tr>
                                <td>Past Surgery</td>
                                <td class="text-primary">@entDetails.PastSurgery</td>
                                </tr>
                                <tr>
                                <td>Past Surgery Details</td>
                                <td class="text-primary">@entDetails.PastSurgeryDetails</td>
                                </tr>
                                <tr>
                                <td>Smoke</td>
                                <td class="text-primary">@entDetails.Smoke</td>
                                </tr>
                                <tr>
                                <td>Alcohol Use</td>
                                <td class="text-primary">@entDetails.AlcoholUse</td>
                                </tr>
                                <tr>
                                <td>Illegal Drug Use</td>
                                <td class="text-primary">@entDetails.IllegalDrugUse</td>
                                </tr>

                            
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

               @* <div class="row mb-4">
                    <div class="col-lg-12">
                        <div class="card text-dark  border-0 shadow-sm">

                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div class="mb-5">
                                        <h4>

                                            Expert Evaluation

                                        </h4>
                                    </div>
                                    <div>
                                        <a href="expertevaluation" ><i class="bi h4 bi-pencil-square"></i></a>
                                    </div>
                                </div>


                                <table class="table table-bordered">

                                    <tr>
                                        <td>Sitting And Reading</td>
                                        <td class="text-primary">@entDetails.SittingAndReading</td>
                                    </tr>
                                    <tr>
                                        <td>Sitting And Watching TV</td>
                                        <td class="text-primary">@entDetails.SittingAndWatchingTV</td>
                                    </tr>
                                    <tr>
                                        <td>Sitting Inactive In Public</td>
                                        <td class="text-primary">@entDetails.SittingInactiveInPublic</td>
                                    </tr>
                                    <tr>
                                        <td>As a Passenger Car</td>
                                        <td class="text-primary">@entDetails.AsaPassengerCar</td>
                                    </tr>
                                    <tr>
                                        <td>Lying Down</td>
                                        <td class="text-primary">@entDetails.LyingDown</td>
                                    </tr>
                                    <tr>
                                        <td>Sitting Talking</td>
                                        <td class="text-primary">@entDetails.SittingTalking</td>
                                    </tr>
                                    <tr>
                                        <td>Sitting Quietly</td>
                                        <td class="text-primary">@entDetails.SittingQuietfly</td>
                                    </tr>
                                    <tr>
                                        <td>While Stopped</td>
                                        <td class="text-primary">@entDetails.WhileStopped</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>

                </div>*@
        </div>
    </div>
</div>

</section>


@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    private EntDetails entDetails = new EntDetails();
    private string? uid { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        uid = authState.User.FindFirst("UserId")?.Value.ToString();
        entDetails = DalCRUD.GetUserAccountById(uid);

    }

}
