@page "/tobacco"
@attribute [Authorize(Roles = "Patient")]
@using System.ComponentModel.DataAnnotations
@using System.Reflection;
@inject NavigationManager nm
<section class="bg-light min-vh-100 pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-lg-2">
                <div>
                    <h3 class="display-6">Tobacco Cessation</h3>
                    <p class="lead">Please Answer the Following Questions</p>
                </div>
                <EditForm Model="@entExpertevaluation" OnValidSubmit="ValidSubmit">
                    <DataAnnotationsValidator />
                    <div class="card">
                        <div class="card-body">
                            <div class="mt-4">
                                <div class="form-floating">
                                    <InputSelect class="form-select" @bind-Value="entExpertevaluation.SmokeTobacco" id="floatingSelect" aria-label="Floating label select example">
                                        <option selected disabled>Do you currently smoke tobacco cigarettes ?</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </InputSelect>
                                    <label for="@entExpertevaluation.SmokeTobacco">Do you currently smoke tobacco cigarettes ?</label>
                                </div>

                            </div>

                            <div class="mt-4">
                                <div class="form-floating">
                                    <InputSelect class="form-select" @bind-Value="entExpertevaluation.AverageCigarettes" id="floatingSelect" aria-label="Floating label select example">
                                        <option selected disabled>How many cigarettes on an average day do you smoke ?</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </InputSelect>
                                    <label for="@entExpertevaluation.AverageCigarettes">How many cigarettes on an average day do you smoke ?</label>
                                </div>
                            </div>
                            <div class="mt-4">
                                <div class="form-floating">
                                    <InputTextArea class="form-control" @bind-Value="entExpertevaluation.SleepEnvironement" style="min-height:150px" id="ts"></InputTextArea>
                                    <label for="ts">Is your sleep environement generally dark, cool and quiet ?</label>
                                </div>
                            </div>
                            <div class="mt-4">
                                <div class="form-floating">
                                    <InputTextArea class="form-control" @bind-Value="entExpertevaluation.TimeofDay" style="min-height:150px" id="td"></InputTextArea>
                                    <label for="td">What time of day do you typically smoke your first cigarette ?</label>
                                </div>
                            </div>
                            <div class="mt-4">
                                <div class="form-floating">
                                    <InputTextArea class="form-control" @bind-Value="entExpertevaluation.HowOld" style="min-height:150px" id="ho"></InputTextArea>
                                    <label for="ho">Approximately how old were you when you started smoking ?</label>
                                </div>
                            </div>
                            <div class="mt-4">
                                <div class="form-floating">
                                    <InputTextArea class="form-control" @bind-Value="entExpertevaluation.HowMany" style="min-height:150px" id="ho"></InputTextArea>
                                    <label for="ho">Approximaly, how many years in total have you (did you) smoke ?</label>
                                </div>
                            </div>


                        </div>

                    </div>

                    <div Class="card mt-5">
                        <div class="card-body">
                            <div class="mt-4">
                                <div class="form-floating">
                                    <InputSelect class="form-select"
                                                 @bind-Value="entExpertevaluation.SittingAndReading"
                                                 id="floatingSelect" aria-label="Floating label select example">
                                        <option selected disabled>Sitting and reading?</option>
                                        <option value="Never">Never</option>
                                        <option value="Slight">Slight</option>
                                        <option value="Moderate">Moderate</option>
                                        <option value="High">High</option>
                                    </InputSelect>
                                    <label for="@entExpertevaluation.SittingAndReading">Sitting and reading?</label>
                                </div>
                            </div>
                            <div class="mt-4">
                                <div class="form-floating">
                                    <InputSelect class="form-select"
                                                 @bind-Value="entExpertevaluation.SittingAndWatchingTV"
                                                 id="floatingSelect" aria-label="Floating label select example">
                                        <option selected disabled>Sitting and watching TV?</option>
                                        <option value="Never">Never</option>
                                        <option value="Slight">Slight</option>
                                        <option value="Moderate">Moderate</option>
                                        <option value="High">High</option>
                                    </InputSelect>
                                    <label for="@entExpertevaluation.SittingAndWatchingTV">Sitting and watching TV?</label>
                                </div>

                            </div>
                            <div class="mt-4">
                                <div class="form-floating">
                                    <InputSelect class="form-select"
                                                 @bind-Value="entExpertevaluation.AsaPassengerCar"
                                                 id="floatingSelect" aria-label="Floating label select example">
                                        <option selected disabled>Sitting inactive in a public space ?</option>
                                        <option value="Never">Never</option>
                                        <option value="Slight">Slight</option>
                                        <option value="Moderate">Moderate</option>
                                        <option value="High">High</option>
                                    </InputSelect>
                                    <label for="@entExpertevaluation.AsaPassengerCar">Sitting inactive in a public space ?</label>
                                </div>

                            </div>
                            <div class="mt-4">
                                <div class="form-floating">
                                    <InputSelect class="form-select"
                                                 @bind-Value="entExpertevaluation.SittingInactiveInPublic"
                                                 id="floatingSelect" aria-label="Floating label select example">
                                        <option selected disabled>As a passenger in a car for one hour without a break ?</option>
                                        <option value="Never">Never</option>
                                        <option value="Slight">Slight</option>
                                        <option value="Moderate">Moderate</option>
                                        <option value="High">High</option>
                                    </InputSelect>
                                    <label for="@entExpertevaluation.SittingInactiveInPublic">As a passenger in a car for one hour without a break ?</label>
                                </div>

                            </div>
                            <div class="mt-4">
                                <div class="form-floating">
                                    <InputSelect class="form-select"
                                                 @bind-Value="entExpertevaluation.LyingDown"
                                                 id="floatingSelect" aria-label="Floating label select example">
                                        <option selected disabled>Lying down to rest in the afternoon ?</option>
                                        <option value="Never">Never</option>
                                        <option value="Slight">Slight</option>
                                        <option value="Moderate">Moderate</option>
                                        <option value="High">High</option>
                                    </InputSelect>
                                    <label for="@entExpertevaluation.LyingDown">Lying down to rest in the afternoon ?</label>
                                </div>

                            </div>
                            <div class="mt-4">
                                <div class="form-floating">
                                    <InputSelect class="form-select"
                                                 @bind-Value="entExpertevaluation.SittingTalking"
                                                 id="floatingSelect" aria-label="Floating label select example">
                                        <option selected disabled>Sitting and talking to someone ?</option>
                                        <option value="Never">Never</option>
                                        <option value="Slight">Slight</option>
                                        <option value="Moderate">Moderate</option>
                                        <option value="High">High</option>
                                    </InputSelect>
                                    <label for="@entExpertevaluation.SittingTalking">Sitting and talking to someone ?</label>
                                </div>

                            </div>
                            <div class="mt-4">
                                <div class="form-floating">
                                    <InputSelect class="form-select"
                                                 @bind-Value="entExpertevaluation.SittingQuietfly"
                                                 id="floatingSelect" aria-label="Floating label select example">
                                        <option selected disabled>Sitting quietfly after lunch without alcohol ?</option>
                                        <option value="Never">Never</option>
                                        <option value="Slight">Slight</option>
                                        <option value="Moderate">Moderate</option>
                                        <option value="High">High</option>
                                    </InputSelect>
                                    <label for="@entExpertevaluation.SittingQuietfly">Sitting quietfly after lunch without alcohol ?</label>
                                </div>

                            </div>
                            <div class="mt-4">
                                <div class="form-floating">
                                    <InputSelect class="form-select"
                                                 @bind-Value="entExpertevaluation.WhileStopped"
                                                 id="floatingSelect" aria-label="Floating label select example">
                                        <option selected disabled>In a care, while stopped for a few minutes in traffic</option>
                                        <option value="Never">Never</option>
                                        <option value="Slight">Slight</option>
                                        <option value="Moderate">Moderate</option>
                                        <option value="High">High</option>
                                    </InputSelect>
                                    <label for="@entExpertevaluation.WhileStopped">In a care, while stopped for a few minutes in traffic</label>
                                </div>

                            </div>
                            <div class="mt-3">
                                <button type="submit" class="btn btn-primary btn-lg">Save and Next</button>
                            </div>
                        </div>

                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</section>
@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }
    public EntTobacco? entExpertevaluation { get; set; } = new EntTobacco();

    private string? uid { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        uid = authState.User.FindFirst("UserId")?.Value.ToString();

    }


    private void ValidSubmit()

    {
        if (!string.IsNullOrEmpty(uid))
        {
            CalcualteEss();
            entExpertevaluation.fk_UserId = uid.ToString();

            int result = DalCRUD.SaveTobacco(entExpertevaluation);
            if (result > 0)
            {
                if (ess >= 10)
                {
                    nm.NavigateTo("productsuggestion", true);
                }
                else
                {
                    nm.NavigateTo("suggestions", true);
                }

            }
        }


    }
    int ess = 0;
    private void CalcualteEss()
    {

        Type objetype = entExpertevaluation.GetType();
        PropertyInfo[] properties = objetype.GetProperties();

        foreach (var item in properties)
        {

            object value = item.GetValue(entExpertevaluation, null);
            string PropertyName = item.Name;
            if (value != null)
            {
                if (PropertyName == "SittingAndReading")
                {

                    ess = ess + GetScore(value.ToString());
                }
                else if (PropertyName == "SittingAndWatchingTV")
                {

                    ess = ess + GetScore(value.ToString());
                }
                else if (PropertyName == "SittingInactiveInPublic")
                {

                    ess = ess + GetScore(value.ToString());
                }
                else if (PropertyName == "AsaPassengerCar")
                {

                    ess = ess + GetScore(value.ToString());
                }
                else if (PropertyName == "LyingDown")
                {

                    ess = ess + GetScore(value.ToString());
                }
                else if (PropertyName == "SittingTalking")
                {

                    ess = ess + GetScore(value.ToString());
                }
                else if (PropertyName == "SittingQuietfly")
                {

                    ess = ess + GetScore(value.ToString());
                }
                else if (PropertyName == "WhileStopped")
                {

                    ess = ess + GetScore(value.ToString());
                }

            }
        }


    }
    int GetScore(string choice)
    {

        if (choice == "Never")
        {
            return 0;
        }
        else if (choice == "Slight")
        {

            return 1;
        }
        else if (choice == "Moderate")
        {

            return 2;
        }
        else if (choice == "High")
        {
            return 3;
        }
        else
        {
            return 0;
        }


    }

}
